/* Media for desktop and above */

@media only screen and (max-width: 1200px) {
    .logo-container {
        text-align: center;
    }
    .logo {
        display: inline-block;
    }
}

@media only screen and (min-width: 992px) {
    .navigation>li:hover ul {
        display: block;
        transition: all 1s linear;
    }
    body {
        padding-top: 81px;
    }
    #header {
        width: 100%;
        position: fixed;
        top: 0px;
        left: 0;
        right: 0;
        z-index: 1;
        background: rgba(60, 118, 61, 0.6);
    }
}


/*Media for tablet devices */

@media only screen and (max-width: 992px) {
    #menu {
        display: block;
        position: absolute;
        right: 30px;
        top: 45px;
        color: red;
        font-weight: bold;
        z-index: 9;
        padding: 10px;
    }
    .navigation {
        width: 55%;
        text-align: left;
        display: block;
        float: right;
    }
    .menu-container {
        background: red;
        z-index: 2;
        transition: all 0.5s linear;
    }
    .navigation>li {
        width: 100%;
    }
    .menu-container.active {
        transition: all 0.5s linear;
    }
}


/*Media for mobile devices */

@media only screen and (max-width: 767px) {}