/*style for navigation*/


/*header border and space*/

#fixed {
    padding: 15px;
    border-bottom: 1px solid #ded5d5;
}


/* Header fixed */

#menu {
    display: none;
}


/* logo style */

.lpgo a,
.logo img {
    display: inline-block;
    height: 96px;
    width: 245px;
}

.navigation {
    width: 100%;
    padding: 25px 0 0 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
}


/*Menu style*/

.navigation li {
    padding: 8px 15px;
}

.navigation>li {
    width: 15%;
    position: relative;
}


/*Sub nav Hide*/

.navigation ul {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    background: #cac1c1;
    left: 0;
    right: 0;
    top: 38px;
    transition: all 1s linear;
}


/*Sub nav Show on hovring link*/

.navigation ul li {
    border-bottom: 1px solid #ded5d5;
    text-align: left;
    cursor: pointer;
}

.navigation ul li:hover {
    background: #9a9494;
    transition: all 0.5s linear;
}

.navigation ul li:hover a {
    color: #fff;
    transition: all 0.5s linear;
    padding-left: 7px;
}

.navigation li a {
    text-transform: capitalize;
    text-decoration: none;
}

.navigation ul li a {
    font-size: 15px;
    transition: all 0.5s linear;
    text-shadow: 0px 1px 0px #333333;
}


/*Navigation style End */


/*Intro section style start */

.introduction,
#promise,
.leadership {
    padding: 50px 0;
}

.introduction img {
    max-width: 100%;
}

#our-value h2 {
    margin-bottom: 30px;
}

.our-value-sec h3:first-child {
    margin-top: 0px;
}

#promise img {
    max-width: 600px;
    width: 100%;
    display: block;
    margin: 0 auto;
}


/*leaders  section*/

.leadership>h2 {
    margin-bottom: 30px;
}

.leadership .carousel-inner {
    min-height: 300px;
}

.leadership .carousel-inner .item img {
    max-width: 200px;
    height: 190px;
    display: inline-block;
}

.leadership .carousel-caption {
    top: 0%;
    padding: 0px;
    text-align: left;
    left: 23%;
}

.leadership .carousel-caption h2 {
    margin-top: 0px;
}

.leadership .carousel-indicators li {
    border: 1px solid #FF6600;
}

.leadership .carousel-indicators .active {
    background: #FF6600;
}

.leadership .carousel-caption p {
    color: #52595B;
    text-shadow: 0px 0px #52595B;
}


/*Footer style start */

#footer {
    padding-top: 30px;
}

#footer a {
    font-size: 15px;
}

.footer-link {
    padding-bottom: 30px;
}

.copyright {
    background: #1c4806;
    color: #fff;
}

.copyright p {
    text-align: center;
    font-size: 12px;
    margin: 0;
    letter-spacing: 1px;
}

#footer .copyright a {
    font-weight: 600;
    color: #fff;
    font-size: 12px;
}

.social-links li {
    float: left;
}

.social-links li a {
    background-image: url(../img/social-image.png);
    height: 33px;
    width: 33px;
    background-repeat: no-repeat;
    display: inline-block;
    transition: all 0.2s linear;
}

.twitter a {
    background-position: 0px -33px;
}

.twitter:hover a {
    background-position: 0px 0px;
}

.facebook a {
    background-position: -33px -33px;
}

.facebook:hover a {
    background-position: -33px 0px;
}

.google-plus a {
    background-position: -66px -33px;
}

.google-plus:hover a {
    background-position: -66px 0px;
}

.linked a {
    background-position: -99px -33px;
}

.linked:hover a {
    background-position: -99px 0px;
}

.insta a {
    background-position: -167px -33px;
}

.insta:hover a {
    background-position: -167px 0px;
}


/*Footer style End */